<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luy.dwm.plan.mapper.DpDataDomainMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.luy.dwm.plan.bean.DpDataDomain">
        <id column="id" property="id" />
        <result column="name_chn" property="nameChn" />
        <result column="name_eng" property="nameEng" />
        <result column="model_id" property="modelId" />
        <result column="remark" property="remark" />
        <result column="last_update_user_id" property="lastUpdateUserId" />
        <result column="last_update_time" property="lastUpdateTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

</mapper>
