<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luy.dwm.plan.mapper.DpNamingRuleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.luy.dwm.plan.bean.DpNamingRule">
        <id column="id" property="id" />
        <result column="rule_name" property="ruleName" />
        <result column="rule_prefix" property="rulePrefix" />
        <result column="rule_body" property="ruleBody" />
        <result column="rule_desc" property="ruleDesc" />
        <result column="last_update_user_id" property="lastUpdateUserId" />
        <result column="last_update_time" property="lastUpdateTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

</mapper>
