<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luy.dwm.model.mapper.DmMetricMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.luy.dwm.model.bean.DmMetric">
        <id column="id" property="id" />
        <result column="metric_name" property="metricName" />
        <result column="metric_type" property="metricType" />
        <result column="model_id" property="modelId" />
        <result column="domain_id" property="domainId" />
        <result column="link_table_id" property="linkTableId" />
        <result column="link_column_id" property="linkColumnId" />
        <result column="link_dim_ids" property="linkDimIds" />
        <result column="link_atomic_metric_ids" property="linkAtomicMetricIds" />
        <result column="link_stat_period" property="linkStatPeriod" />
        <result column="link_modifier_ids" property="linkModifierIds" />
        <result column="link_calc_desc" property="linkCalcDesc" />
        <result column="remark" property="remark" />
        <result column="last_update_user_id" property="lastUpdateUserId" />
        <result column="last_update_time" property="lastUpdateTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

</mapper>
