<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luy.dwm.model.mapper.DmTableDataInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.luy.dwm.model.bean.DmTableDataInfo">
        <id column="id" property="id" />
        <result column="table_id" property="tableId" />
        <result column="table_name" property="tableName" />
        <result column="schema_name" property="schemaName" />
        <result column="num_files" property="numFiles" />
        <result column="num_rows" property="numRows" />
        <result column="num_partitions" property="numPartitions" />
        <result column="file_size_avg" property="fileSizeAvg" />
        <result column="compress_ratio" property="compressRatio" />
        <result column="raw_data_size" property="rawDataSize" />
        <result column="data_size" property="dataSize" />
        <result column="data_size_all_rep" property="dataSizeAllRep" />
        <result column="data_last_modify_time" property="dataLastModifyTime" />
        <result column="data_last_access_time" property="dataLastAccessTime" />
        <result column="last_sync_info_time" property="lastSyncInfoTime" />
    </resultMap>

</mapper>
