<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luy.dwm.model.mapper.DmTableSyncMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.luy.dwm.model.bean.DmTableSync">
        <id column="id" property="id" />
        <result column="table_id" property="tableId" />
        <result column="model_id" property="modelId" />
        <result column="table_name" property="tableName" />
        <result column="schema_name" property="schemaName" />
        <result column="is_sync_info" property="isSyncInfo" />
        <result column="last_sync_meta_time" property="lastSyncMetaTime" />
        <result column="last_sync_meta_user_id" property="lastSyncMetaUserId" />
        <result column="last_sync_info_time" property="lastSyncInfoTime" />
    </resultMap>

</mapper>
